<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/home.js"></script>
    <script type="text/javascript" src="js/signup-ajax.js"></script>
    <title></title>
  </head>
  <body>
    <h3>username</h3>
    <input type = 'text' id ='username'> </br>
    <h3>password</h3>
    <input type="text" id="password"></br></br>
    <button type="button" name="button" id="login">Login</button></br>
    <div class="login-status"></div>
    </br></br></br></br></br></br>
    ---------------------------------------------------------------
    <h4>chat</h4>
    <input type="text" name="chat" value="" id = 'message'><br>
    <button type="button" name="button" id='send'>Send Message</button>

  </br></br></br></br></br></br>
  ---------------------------------------------------------------
  <h4>email</h4>
  <input type="text" name="chat" value="" id = 'email'><br>

  <h4>Full Name</h4>
  <input type="text" name="chat" value="" id = 'full-name'><br>

  <h4>password</h4>
  <input type="text" name="chat" value="" id = 'signup-password'><br>

  <button type="button" name="button" id='sign-up'>Sign-up</button>


  </body>
</html>
